.sidenav-container {
  height: 100%;
  min-height: 100vh;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}

.footer {
  padding: 12px;
  font-size: 12px;
  background-color: #ccc;
}

.footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.footer-logo {
  flex: 1;
}

.footer-logo span {
  display: inline-block;
  line-height: 30px;
  margin: 0 0 0 20px;
  vertical-align: bottom;

  a {
    font-size: 16px;
    padding: 0;
  }
}

.logo {
  height: 30px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .links {
    margin: 0 20px;
  }
}

.footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 100px;
  margin-top: 16px;

  > div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: center;
  }

  @media (min-width: 885px) {
    margin-top: 0;
  }
}

a {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@media screen and (max-width: 884px){
  .footer-list {
    flex-direction: column;
  }
}